$dz-submenu-height: 50px;

.dz-menu-submenu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  width: 240px;
  height: $dz-submenu-height;
  // background: pink;
  padding: 0 10px;

  &:hover {
    cursor: pointer;
  }

  // &::after {
  //   content: '';
  //   width: 16px;
  //   height: 16px;
  //   background-image: url('../../../../assets/icons/arrow-down.svg');
  //   background-size: cover;
  // }
}

.dz-submenu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  margin-right: 10px;

  img {
    width: 26px;
    height: 26px;
  }
}

.dz-submenu-title {
  width: 190px;
  height: $dz-submenu-height;
  line-height: $dz-submenu-height;
}

.dz-submenu-arrow {
  width: 16px;
  height: 16px;
  background-image: url('../../../../assets/icons/arrow-down.svg');
  background-size: cover;
}
