<dz-menu>
  <dz-submenu>
    <dz-submenu-icon>
      <img src="../assets/icons/Courses.svg" />
    </dz-submenu-icon>
    <dz-submenu-title>学习</dz-submenu-title>
    <dz-menu-group>
      <dz-menu-group-title>组1</dz-menu-group-title>
      <dz-menu-item>A</dz-menu-item>
    </dz-menu-group>
    <dz-menu-group>
      <dz-menu-group-title>组2</dz-menu-group-title>
      <dz-menu-item>B</dz-menu-item>
    </dz-menu-group>
  </dz-submenu>
  <dz-submenu>
    <dz-submenu-icon>
      <img src="../assets/icons/Imagetag.svg" />
    </dz-submenu-icon>
    <dz-submenu-title>摄影</dz-submenu-title>
    <dz-menu-item>item 2</dz-menu-item>
    <dz-menu-item>item 3</dz-menu-item>
    <dz-submenu>
      <dz-submenu-icon>
        <img src="../assets/icons/Playgame.svg" />
      </dz-submenu-icon>
      <dz-submenu-title>游戏</dz-submenu-title>
      <dz-menu-item>item 4</dz-menu-item>
      <dz-menu-item>item 5</dz-menu-item>
    </dz-submenu>
  </dz-submenu>
</dz-menu>
