<dz-menu>
  <dz-submenu>
    <dz-menu-icon class="submenu-icon">
      <!-- <img dz-menu-icon src="../assets/icons/Courses.png"> -->
    </dz-menu-icon>
    <dz-submenu-title>学习</dz-submenu-title>
    <dz-menu-group>
      <div dz-menu-group-title>组1</div>
      <div dz-menu-item>item 1</div>
    </dz-menu-group>
    <dz-menu-group>
      <div dz-menu-group-title>组2</div>
      <div dz-menu-item></div>
    </dz-menu-group>
  </dz-submenu>
  <dz-submenu>
    <img dz-menu-icon src="../assets/icons/Playgame.svg">
    <div dz-menu-item>item 2</div>
    <div dz-menu-item>item 3</div>
    <dz-submenu>
      <div dz-submenu-title>游戏</div>
      <div dz-menu-item>item 4</div>
      <div dz-menu-item>item 5</div>
    </dz-submenu>
  </dz-submenu>
</dz-menu>