/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'iconfont'; /* project id 2172102 */
  src: url('//at.alicdn.com/t/font_2172102_6qurgr4x2nq.eot');
  src: url('//at.alicdn.com/t/font_2172102_6qurgr4x2nq.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2172102_6qurgr4x2nq.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2172102_6qurgr4x2nq.woff') format('woff'),
    url('//at.alicdn.com/t/font_2172102_6qurgr4x2nq.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2172102_6qurgr4x2nq.svg#iconfont') format('svg');
}
